{% extends "base/base.html" %}
{% load static %}

{% block 'body' %}
  {% for post in post_details %}
    <!-- Page Header -->
    <header class="masthead post-img" style="background-image: url('{{ post.image.url }}');">
      <div class="overlay"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-white text-center">
            <div class="post-heading">
              <h1 class="font-weight-bold">{{ post.title }}</h1>
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <span class="meta">
                <a href="#" class="text-info">{{ post.author.user }}</a><br>
                 {{ post.updated_at }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="lead">{{ post.content|safe }}</p>
            <hr>
            <div class="clearfix">
              {% if request.user == post.author.user or request.user.is_superuser %}
              <a class="btn btn-primary float-right" href="{% url 'edit_list' id=post.id %}">Edit Post</a>
              {% else %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </article>
    <hr>
  {% endfor %}
{% endblock %}
