{% extends "base/base.html" %}
{% load static %}
{% block 'body' %}

  <!-- Page Header -->
  <header class="masthead home-bg">

    <div class="overlay" style="background-color: rgba(0, 0, 0, 0.852); height: 100%;"></div>
    <div class="container text-white py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center" style="padding: 40px;">
          <div>
            <h1 style="padding-top: 50px;">The Collective Journal</h1>
            <span class="subheading">Insights, ideas, and experiences from thinkers across the globe.</span>
          </div>
        </div>
      </div>
    </div>
    
  </header>

  <!-- Create a button -->
  <div class="text-center my-5">
    <a class="btn btn-info btn-outline-success btn-lg text-white"  href="{% url 'new_post' %}">Create New Blog</a>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        {% for post in all_posts %}
        <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100 shadow-sm border-0">
          <a href="{% url 'post_list' id=post.id %}" style="text-decoration: none;">
            {% if post.image %}
            <img class="card-img-top" src="{{post.image.url}}" role="img" style="height: 250px; object-fit: cover;" alt="{{post.title}}">
            {% else %}
            <img src="{% static 'images/defult.jpg' %}" class="card-img-top" style="height: 250px; object-fit: cover;" alt="Default">
            {% endif %}

            <div class="card-body text-dark">   
            <h5 class="card-title">{{post.title}}</h2>
            <h3 class="card-text">{{post.subtitle}}</h3>
          </div>  
          </a>

          <div class="text-info text-left ml-3">
          <strong> {{post.author.user}}</strong><br>
            {{post.updated_at}}

            {% if request.user == post.author.user or request.user.is_superuser %}
            <br><a href = "{% url 'delete_post' id=post.id %}" onclick="return confirm('Do you want to delete this post?');" class="text-danger">✘ Delete </a>

            {% endif %}         
          </div>
        </div>
      </div>
      
        {% endfor %}
      
    </div>
  </div>
 
  {% endblock %}
  
